 <div class="main">
    <h1>Product Helper</h1>
    <hr/>
        <h3>FINDER</h3>
        <div>
            <div class="input-box" *ngIf="showSearchBox">
                <h6>Search for Products</h6>
                <label>SKU/ISBN/TITLE : </label>
                <input type="text"
                    [(ngModel)]="searchText"
                    class="form-control"
                    (ngModelChange)="showProductdataBasedOnSearchText()">
                <button style="margin-top: 12px;">Search</button>
            </div>
            <hr>
            <div class="search-result"
                style="padding-top: 24px;"
                *ngIf="showProductDetailsWhenSearchIsValid">
                <h4>Search results</h4>
                <hr>
                <div class="search-box" *ngFor="let item of
                    productDataResultsFromAPIbasedOnSearchText">
                    <li>Action: <a href="javascript:void(0);"
                            (click)="showProductDetailsDropdown(item.title,item.ISBN,item.SKU)">Select</a></li>
                    <li>versionType:<p>{{item.versionType}}</p></li>
                    <li>SKU:<p>{{item.SKU}}</p></li>
                    <li>ISBN:<p>{{item.ISBN}}</p></li>
                    <li>Title:<p>{{item.title}}</p></li>
                </div>
            </div>
        </div>
    </div>
    <section class="product-page" *ngIf="showDropdown">
        <div class="product-main-page">
            <div class="dropdown">
                <h4 style="color: white;background-color: black;text-align:
                    center;">{{titleBesidesDropdown}}</h4>
                <select [(ngModel)]="productPageDropdownSelectedValue"
                    class="form-select"
                    (ngModelChange)="navigateToCorrespondingPageBasedOnDropdownSelection()">
                    <option *ngFor="let item of dropdownArrayValues"
                        [value]="item">{{item}}</option>
                </select>
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>